<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.setakarim.ecoin">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity android:name=".DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu.MyIDActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity android:name=".Menu.KirimUangActivity" />
        <activity android:name=".Menu.TagihUangActivity" />
        <activity android:name=".Loop.QRCodeReaderActivity" />
        <activity android:name=".Menu.TambahKontakActivity" />
        <activity android:name=".Menu.BacaDokumenActivity" />
        <activity android:name=".RiwayatTransaksiActivity" />
        <activity android:name=".MetodePenagihanActivity" />
        <activity android:name=".Loop.SuccessSaveContectActivity" />
        <activity android:name=".Loop.NFCActivity" />
        <activity android:name=".KontakActivity" />
        <activity android:name=".PembayaranActivity" />
        <activity android:name=".Loop.QRCodeActivity"></activity>
    </application>

</manifest>